* {
  text-align: right;
}

body {
  background-image: url(backgroundimage.jpg); /* Photo by avery klein on Unsplash */
  background-size: cover;
}

li {
  list-style: none;
  display: inline-block;
}

p {
  color: #aa4139;
  text-align: center;
  border: 5px solid rgba(255, 176, 170, 0.5);
  cursor: pointer;
}

p {
  line-height: 50px;
  font-style: italic;
  font-weight: bold;
  font-size: 150%;
  font-family: 'Poiret One', cursive;
}

img {
  float: right;
}

footer {
  clear: both;
  text-align: center;
}

.webtext:first-child {
  border: 5px dashed green;
}

.active {
  color: red;
}

#div1 {
  background: rgba(0, 0, 255, 0.2);
}

#div2 {
  background: rgba(255, 0, 0, 0.2);
}