* {
  margin: 0;
  padding: 0;
}

body {
	font: 'Raleway', sans-serif;
  color: rgba(0,0,0,.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5em;
  top: 15%;
	background: linear-gradient(to right, red , yellow); /* Standard syntax */
}

.wrapper {
  text-align: center;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 15%;
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h2 {
  margin-top: 20px;
}

h3 {
  display: inline-block;
	font: 900 1.5em 'Raleway', sans-serif;
  color: rgba(0,0,0,.5);
  text-align: center;
  text-transform: none;
  letter-spacing: 0.01em;
  margin-top: 10px;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 12px 14px 30px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 12px 14px 30px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 12px 14px 30px -8px rgba(0, 0, 0, 0.75);
}

input {
  border: none;
  background-color: rgba(125, 51, 53, 0);
  padding: 15px;
  margin: 15px;
  width: 100px;
  height: 100px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  font-size: 1.2em;
}

.inputwrapper {
  background: rgba(198, 253, 253, 0.1);
  width: fit-content;
  margin: 0 auto;
}